<% @page_title = 'ペット一覧' %>

<div class="container">
  <div class="row">
    <%= render "search/search_form", q: @q %>
  </div>
  <div class="row">
    <%= render "pets/index", pet: @pet %>
  </div>
  <div class="text-center">
    <div class="paginate justify-content-center"><%= paginate @pet %></div><!--ページング-->
  </div>
</div>
