<% @page_title = '検索結果' %>

<div class="container">
  <div class="row">
    <div class="card w-100 text-center">
      <div>
        <h2>検索結果</h2>
        <span>
          <%= link_to 'ペット一覧へ戻る', pets_path, class:"btn btn-light" %>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <%= render "search/search_results", results: @results %>
  </div>
  <div class="text-center">
    <div class="paginate justify-content-center"><%= paginate @results %></div><!--ページング-->
  </div>
</div>