<%= form_with model:[pet, pet_comment] do |f| %>
<div class="form_floating pt-4 pb-3">
  <%= f.text_area :comment, rows:'4',placeholder: "コメントをする", class: "form-control" %>
</div>
<div class="text-right">
  <%= f.submit "送信する", class:"btn btn-outline-secondary" %>
</div>
<% end %>
