<% visitor=notification.visitor %>
<% pet=notification.pet%>
<div class="card">
  <div class="card-header">
    <div class="user-view clearfix ">
      <%== notification_form(notification) %>
      <span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %></span>
    </div>
  </div>
  <% if !@pet_comment.nil? %>
    <div class="card-body">
      <p class="moderate-font"><%= @pet_comment %></p>
    </div>
  <% end %>
</div>