<% @page_title = '通知一覧' %>
<div class="container">
  <div class="row">
    <div class="card w-100 text-center">
      <div>
        <h2>通知一覧</h2>
      </div>
    </div>
  </div>
<% if @notifications.exists? %><!--通知がある場合-->
  <div>
    <%= render @notifications %>
  </div>
<% else %><!--通知がない場合-->
  <div class="card text-center">
    <h2>通知はありません</h2>
  </div>
<% end %>
</div>