<h3 class="text-center">通知</h3>
<% if @notifications.exists? %><%#表示の条件分岐はnotification_helperに記述%>
    <div class="customer-index">
        <%= render @notifications %>
    </div>
<% else %>
    <p>通知はありません</p>
<% end %>