<div class="container">
  <div class="row">
    <div class="col-6">
    <div class="card text-center">
        <div class="card-body">
        サイト概要
          <p class="card-text text-left">
            　飼えなくなった犬や猫など、ペットの里親を募集するサイトです。
            里親を募集したい方はペットの写真、種類、募集の経緯などを投稿します。
            里親になりたい方は、投稿者のメールアドレスへ連絡、引き渡し日を決めた後に引き渡しを行います。
          </p>
        </div>
        <div class="card-body">
          背景
          <p class="card-text text-left">
            　コロナ禍で巣ごもり需要が増え、ペットブームが起きています。
            多くの人々がペットを飼い始める一方で、「なつかない」「世話が難しい」などの理由で飼育放棄が起きています。
            近年捨てられているペットをよく見かけるようになりました。糞尿被害や、感染症リスクの問題もあり、捨てられたペットの心には深い傷が残ります。
            野良犬や野良猫など捨てられるペットを減らしたいという思いでサイトを作成しました。
          </p>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card text-center">
        <div class="card-body">
        <img class="about-img" src="/assets/dog.jpg" alt="">
        <img class="about-img2" src="/assets/cat.jpg" alt="">
        </div>
      </div>
    </div>

  </div>
</div>