/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";

  /* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: image-url("background.jpg");

  font-family: 'MS Gothic';
  font-size: 18px;
  font-weight: bolder;
  color: #333;
  letter-spacing: 1.5px;
  line-height: 1.75;

}


//   .form-control, .input {入力フォーム
// 	-webkit-appearance: none; //各ブラウザのselect要素の標準CSSをリセット
// 	-moz-appearance: none; //各ブラウザのselect要素の標準CSSをリセット
// 	appearance: none; //各ブラウザのselect要素の標準CSSをリセット
// 	width: 100%;
// 	margin: 0px 3px;
// 	padding: 7px 30px 7px 10px;
// 	font-size: 110%;
// 	line-height: 1.1em;
// 	border-radius: 5px;
// 	border: none;
// 	background-image: url("paper.jpg");

// // 	background-repeat: no-repeat;
// // 	background-size: 12px 10px;
// // 	background-position: right 10px center;
// 	//background-color: #bddfff;
// 	 // color: #FFF;

//     background: #795548;
//     border-bottom: solid 6px #4b2c20;
//     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
//     border-radius: 9px;
// }

search {
  color: #FFF;
    background: #795548;
    border-bottom: solid 6px #4b2c20;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

a {
  color: white;
  text-decoration: none!important;
}

a:hover {
  color: darkgreen;
  text-decoration: underline;
}


.container {
  margin-top: 3rem;
}

.row {
  padding: 0px 0px 20px 0px;
}

h2 {
  color: white;
  text-shadow:  black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
  display: inline-block;
  margin: 0px 10px;
}

.card {
  background-image: image-url("wood.jpg");
  box-shadow: 0 10px 25px 0 black;
  padding: 10px;
  width: 100%;
  table-layout: fixed;
}

.table, .card-body, {
    background-image: image-url("paper.jpg");
    background-size: 250%;
    background-position: center;
    border-radius: 1%;
    box-shadow: 0 10px 25px 0 black;
}
th{
  width: 40%;
}

.btn {
  font-weight: bolder;
  font-size: 1rem;

}

img:not(.logo) {
    background-image: image-url("paper2.jpg");
    background-size: 100px;
    background-position: center;
    width:  300px;
    height: 300px;
    display:block;
    margin: 0 auto;
    border-radius: 1%;
    background-position: left top;
    border: 20px solid rgba(252,226,255,0);
    box-shadow: 0 10px 25px 0 black;
}
//ロゴ
.logo {
  width:  100px;
  height: 100px;
  margin: -15px 0px 0px 50px;
}
.logp-box {

}


// 通知アイコン
.page-header{
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    margin: 20px auto;
    border-radius:15px;
}
.page-header:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.page-header p {
    margin: 0;
    padding: 0;
}
// アバウトページ
.about-img {
  position: absolute;
  margin: 0px 0px 0px 20px;
  transform: rotate(-20deg);
}

.about-img2 {
  position: relative;
  margin: 0px 20px 0px 200px;
  transform: rotate(-10deg);
}
// トップページのリンクボタン
i {
    width:  250px;
    text-align: center;
    color: white;
}
// トップページのリンクボタン背景、位置
.icon-top {
  background-image: image-url("iron.jpg");
  background-size: 500px;
  background-position: center;
  width:  300px;
  height: 25%;
  display:block;
  margin: auto;
  border-radius: 50%;
  border: 20px solid rgba(252,226,255,0);
  box-shadow: 0 10px 25px 0 black;
}

// ヘッダー
header {
  background-image: image-url("wood.jpg");
  box-shadow: 0 10px 25px 0 black;
  display: flex;
  padding: 0px 20px;
  top: 0; /* 上下の固定位置を上から0pxにする */
  left: 0; /* 左右の固定位置を左から0pxにする */
  justify-content: space-between;
  width: 100%;
}
//フッター
footer {
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  box-shadow: 0 10px 25px 0 black;
  text-align: center;
  color: white;
  width: 100%;
  background-image: image-url("wood.jpg");
}

.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 80px;
}
//ヘッダーリンク
.navbar-outline {
  padding: 15px 0px 0px 0px;
}

.nav-link {
  color: white;
  list-style: none;
  display: inline-block;
  float: left;
}
//ページング
.paginate, .pagination {
  margin: auto;
  text-align: center;
  font-size: 16px;
  justify-content: center;
}
