/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";

  /* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
  // background-color: #797979;
  background-size: cover;
  background-image: url("background.jpg");
  height:500px;
  min-width:100%;

  font-family: 'MS Gothic';
  font-size: 18px;
  font-weight: bolder;
  color: #333;
  letter-spacing: 1.5px;
  line-height: 1.75;
  text-shadow: 1px 1px 2px #808080;
  }



//select::-ms-expand {IE矢印無効
// 	display: none;
// }
// select {
// 	-webkit-appearance: none; //各ブラウザのselect要素の標準CSSをリセット
// 	-moz-appearance: none; //各ブラウザのselect要素の標準CSSをリセット
// 	appearance: none; //各ブラウザのselect要素の標準CSSをリセット
// 	margin-bottom: 20px;
// 	padding: 7px 30px 7px 10px;
// 	font-size: 93%;
// 	line-height: 1.1em;
// 	border-radius: 5px;
// 	border: none;
// 	background-repeat: no-repeat;
// 	background-size: 12px 10px;
// 	background-position: right 10px center;
// 	background-color: #bddfff;
// }

  // .sbox {矢印レイアウト
  //       position: relative;
  //     }

  //   .sbox::after {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     right: 10px;
  //     width: 30px;
  //     height: 30px;
  //     background-image: url(down.png);
  //     background-size: 60%;
  //     background-repeat: no-repeat;
  //     background-position: right center;
  //     pointer-events: none;
  //   }

//   .form-control, .input {
// 	-webkit-appearance: none; //各ブラウザのselect要素の標準CSSをリセット
// 	-moz-appearance: none; //各ブラウザのselect要素の標準CSSをリセット
// 	appearance: none; //各ブラウザのselect要素の標準CSSをリセット
// 	width: 100%;
// 	margin: 0px 3px;
// 	padding: 7px 30px 7px 10px;
// 	font-size: 110%;
// 	line-height: 1.1em;
// 	border-radius: 5px;
// 	border: none;
// 	background-image: url("paper.jpg");

// // 	background-repeat: no-repeat;
// // 	background-size: 12px 10px;
// // 	background-position: right 10px center;
// 	//background-color: #bddfff;
// 	 // color: #FFF;

//     background: #795548;
//     border-bottom: solid 6px #4b2c20;
//     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
//     border-radius: 9px;
// }

search {
  color: #FFF;
    background: #795548;
    border-bottom: solid 6px #4b2c20;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

.container {
  margin-top: 3rem;
}


.card {
  background-image: url("wood.jpg");
  box-shadow: 0 10px 25px 0 black;
  padding: 10px;
}

.table, .card-body, {
    background-image: url("paper.jpg");
    background-size: 250%;
    background-position: center;
    border-radius: 1%;
    box-shadow: 0 10px 25px 0 black;
}
th{
  width: 40%;
}

img {
    background-image: url("paper2.jpg");
    background-size: 100px;
    background-position: center;
    width:  300px;
    height: 300px;
    display:block;
    margin: 0 auto;
    border-radius: 1%;
    background-position: left top;
    // background-clip: padding-box;
    border: 20px solid rgba(252,226,255,0);
    box-shadow: 0 10px 25px 0 black;
}


.pet-show-left{
  margin: auto;
}


.page-header{
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    margin: 20px auto;
    border-radius:15px;
}
.page-header:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.page-header p {
    margin: 0;
    padding: 0;
}

.about-img {
  position: absolute;
  margin: 0px 0px 0px 20px;
  transform: rotate(-20deg);
}

.about-img2 {
  position: relative;
  margin: 0px 20px 0px 200px;
  transform: rotate(-10deg);
}

.card-text {
 text-align: left;
}

i {;
    width:  250px;
    text-align: center;
    color: white;
}

.icon-top {
  background-image: url("iron.jpg");
    background-size: 500px;
    background-position: center;
    width:  300px;
    height: 25%;
    display:block;
    margin: auto;
    border-radius: 50%;
    border: 20px solid rgba(252,226,255,0);
    box-shadow: 0 10px 25px 0 black;
}


header {
  // background-color: blue;
  // width: 100%; /* 横幅90% */
  // padding: 5px 0;
  // margin: 10% 0% auto;
  // text-align: center;
  background-image: url("wood.jpg");
  box-shadow: 0 10px 25px 0 black;
  // background: gray;
    display: flex;
    padding: 0px 20px;
    top: 0; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    justify-content: space-between;
    width: 100%;
}

footer {
  background: gray;
  // bottom: 0; /*下に固定*/
  text-align: center;
  color: white;
  width: 100%;
}

.header-icon-text {
  position: relative;
  color: white;
// 	float: left;
  margin: auto;
	padding: 20px 0px 0px 0px;
	vertical-align: 20%;
	font-family: 'fantasy';
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 1.5px;
  line-height: 1.75;
  text-shadow:  black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
}
// 	.header-icon {
// 	  position: absolute;
// 	  margin: auto;
// 	  padding: auto;
// 		width: 10px;
// 		height: 10px;
// 		background: url(icon.png) center/60px auto no-repeat;
// 	}

  .nav-list {
    text-align: center;
  padding: 10px 0;
  margin: 0 auto;
	}

	.nav-link {
	  color: white;
	  list-style: none;
    display: inline-block;
    margin: 0 10px;
	  float: left;
	}

	.paginate, .pagination {
    margin: auto;
    text-align: center;
    font-size: 16px;
  }