/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";

  /* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: image-url("background.jpg");
  font-family: 'MS Gothic';
  font-size: 18px;
  font-weight: bolder;
  color: #333;
  letter-spacing: 1.5px;
  line-height: 1.75;
}

a {
  color: white;
  text-decoration: none!important;
}

a:hover {
  color: darkgreen;
  text-decoration: underline;
}

.container {
  margin-top: 3rem;
}

.row {
  padding: 0px 0px 20px 0px;
}


h2 {
  color: white;
  text-shadow:  black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
  display: inline-block;
  margin: 0px 10px;
}

.card {
  background-image: image-url("wood.jpg");
  box-shadow: 0 10px 25px 0 black;
  padding: 10px;
  width: 100%;
  table-layout: fixed;
  margin: 15px auto;
}

.table, .card-body, {
  background-image: image-url("paper.jpg");
  background-size: 3000px 2000px;
  background-position: center;
  border-radius: 1%;
  box-shadow: 0 10px 25px 0 black;
}

th{
  width: 40%;
}

//各種ボタン
.btn {
  font-weight: bolder;
  font-size: 1rem;
}

button {
  padding: 10px;
}

//削除ボタン
.delete-btn {
  color: red;
  float: right;
  width: 80px;
}

//コメント機能
.comment-area {
  margin: 0.1rem;
}

//検索フォーム
search {
  color: #FFF;
  background: #795548;
  border-bottom: solid 6px #4b2c20;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

//ロゴ
.logo {
  width:  100px;
  height: 100px;
  margin: -15px 0px 0px 50px;
}

//写真
img:not(.logo, .about-img2) {
  background-image: image-url("paper2.jpg");
  background-size: 100px;
  background-position: center;
  width:  300px;
  height: 300px;
  display:block;
  margin: 15px auto;
  border-radius: 1%;
  background-position: left top;
  border: 20px solid rgba(252,226,255,0);
  box-shadow: 0 10px 25px 0 black;
}
// アバウトページ
.about-img {
  position: absolute;
  margin: 0px 0px 0px 20px;
  transform: rotate(-20deg);
}

.about-img2 {
  position: relative;
  margin: 0px 20px 0px 200px;
  transform: rotate(-10deg);
  background-image: image-url("paper2.jpg");
  background-size: 100px;
  background-position: center;
  width:  300px;
  height: 300px;
  display:block;
  border-radius: 1%;
  background-position: left top;
  border: 20px solid rgba(252,226,255,0);
  box-shadow: 0 10px 25px 0 black;
}

//トップページリンクボタン
.top-btn {
  background-image: image-url("wood.jpg");
  margin: 0px 41px;
  padding: 20px 0px;
  width: 280px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 10px 25px 0 black;
}

.top-box {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

// ヘッダー
header {
  background-image: image-url("wood.jpg");
  box-shadow: 0 10px 25px 0 black;
  display: flex;
  padding: 0px 20px;
  top: 0; /* 上下の固定位置を上から0pxにする */
  left: 0; /* 左右の固定位置を左から0pxにする */
  justify-content: space-between;
  width: 100%;
}

//フッター
footer {
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  box-shadow: 0 10px 25px 0 black;
  text-align: center;
  color: white;
  width: 100%;
  background-image: image-url("wood.jpg");
}

//ヘッダー、フッターの微調整
.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 80px;
}

//ヘッダーリンク
.navbar-outline {
  padding: 15px 0px 0px 0px;
}

.nav-link {
  color: white;
  list-style: none;
  display: inline-block;
  float: left;
}

//ページング
.paginate, .pagination {
  margin: auto;
  text-align: center;
  font-size: 16px;
  justify-content: center;
}

.pagination>li>a {
  border: none;
  color: black;
}

.pagination>.active>a {
  background-color: green!important;
}

//ハンバーガーメニュー
#menu-btn-check {
  display: none;
}

.menu-btn {
  display: block;
  margin-bottom: -0.5rem;
}

.hamburger-menu{
  margin: 0px;
  padding: 0px;
}


//レスポンシブ1024px
@media screen and (max-width:1024px) {
  .about-img2 {
    position: relative;
    margin: 0px 20px 0px 130px;
    transform: rotate(-10deg);
    background-image: image-url("paper2.jpg");
    background-size: 100px;
    background-position: center;
    width:  300px;
    height: 300px;
    display:block;
    border-radius: 1%;
    background-position: left top;
    border: 20px solid rgba(252,226,255,0);
    box-shadow: 0 10px 25px 0 black;
  }

  .nav-link {
    color: white;
    list-style: none;
    display: inline-block;
    float: left;
    padding: 0px 20px;
    margin: 4px 0px;
  }
}
//レスポンシブ768px
@media screen and (max-width:768px) {
  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: green;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }

  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  #menu-btn-check:checked ~ .navbar-outline {
    right: 75%;/*メニューを画面内へ*/
  }

  .navbar-outline {
    width: 25%;
    height: 70%;
    position: fixed;
    top: 0;
    right: 100%;/*rightの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: green;
    opacity: 0.8;
    transition: all 0.5s;/*アニメーション設定*/
  }
  .navbar-outline ul {
    padding: 5px 10px 0;
  }
  .navbar-outline ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }
  .navbar-outline ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 0px 10px 0;
    position: relative;
  }

  .top-btn {
    background-image: image-url("wood.jpg");
    margin: 10px 0px;
    padding: 20px 0px;
    width: 280px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 10px 25px 0 black;
  }

  .pet-button { //ペット詳細画面のボタン配置
  	margin: 0px 0px;
  	font-size: 100%;
  	width: 100%;
  }

  .about-img2 {
    position: relative;
    margin: 0px 20px 0px 0px;
    transform: rotate(-10deg);
    background-image: image-url("paper2.jpg");
    background-size: 100px;
    background-position: center;
    width:  300px;
    height: 300px;
    display:block;
    border-radius: 1%;
    background-position: left top;
    border: 20px solid rgba(252,226,255,0);
    box-shadow: 0 10px 25px 0 black;
  }
}
//レスポンシブ426px
@media screen and (max-width:426px) {
  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: green;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }

  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  #menu-btn-check:checked ~ .navbar-outline {
    right: 40%;/*メニューを画面内へ*/
  }

  .navbar-outline {
    width: 60%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%;/*rightの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: green;
    opacity: 0.8;
    transition: all 0.5s;/*アニメーション設定*/
  }
  .navbar-outline ul {
    padding: 5px 10px 0;
  }
  .navbar-outline ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }
  .navbar-outline ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 0px 10px 0;
    position: relative;
  }

  .top-btn {
    background-image: image-url("wood.jpg");
    padding: 20px 0px;
    width: 280px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 10px 25px 0 black;
  }

  .pet-button { //ペット詳細画面のボタン配置
  	margin: 0px 0px;
  	font-size: 100%;
  	width: 100%;
  }

  .about-img {
    width: 100%!important;
    position: relative;
    margin: 0px 0px 0px 0px;
    transform: rotate(0deg);
  }

  .about-img2 {
    display: none;
  }

  select, .input-group, .form-control {
    display: block;
    width: 100%;
  }

  .form-control {
    width: 100%!important;
  }
}
