// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite-delete{
  color:red; /*お気に入りボタン外す、赤色にする*/
  font-size:1.5em;
	padding: 15px;
	border:1px solid black;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.favorite-post{
  color: darkgreen; /*お気に入りボタン登録、緑色にする*/
  font-size:1.5em;
	padding: 15px;
	border:1px solid black;
  background-color: white;
  border-radius: 100%;
  position: absolute; //写真の上にボタン表示
  top: 0;
  left: 0;
}