// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.color-delete{
  color:red; /*お気に入りボタン外す、赤色にする*/
  font-size:1.5em;
  margin: 10px 50px;
	padding-right: 100px;
	border:1px solid #3079ed;
  background-color:#e0f7fa;
  width:100px;
  height:38px;
  border-radius:5px;
}

.color-post{
  color:blue; /*お気に入りボタン登録、青色にする*/
  font-size:1.5em;
  margin: 10px 50px;
	padding-right: 100px;
	border:1px solid #3079ed;
  background-color:#e0f7fa;
  width:100px;
  height:38px;
  border-radius:5px;
}